/*
green color: #00673E

*/


/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: visible;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: scroll;
}


.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.navbar {
	background-color: #00673E;
	text-align: center;
}

header {
	background-size: cover;
    background-position: center;
    height: 150px;
    background-attachment: fixed;
    background-color: #fff;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}


.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.nav-link li a:link,
.nav-link li a:visited {
    padding: 8px 0;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
    bacground-color: #00673E;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #00673E;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-align: center;
    
}

th, tr, td {
	padding: 10px;
}

.submit {
	font-size: 120%;
	padding: 5px;
	word-spacing: 4px;
    letter-spacing: 1px;
    text-align: center;
    color: #00673E;
    text-transform: uppercase;
}

.submit-lu {
	font-size: 90%;
	padding: 4px;
	word-spacking: 3px;
	letter-spacing: 1px;
	text-align: center;
	color: #00673E;
	text-transform: uppercase;
}

.txt-box {
	font-size:90%;
	padding: 10px;
}

.bg-ltblue {
  background-color: #d1f4fa !important;
}

.bg-ltgreen {
  background-color: #ccffb3 !important;
}

.bg-ltgold {
  background-color: #ffdf80 !important;
}


.bg-ltgray {
  background-color: #cbcbb3 !important;
}

.bg-ltgray2 {
  background-color: #d3d3d3 !important;
}

.bg-highlight {
	/*background-color: #FFFFE0 !important;*/
	background-color: #FFFF7D !important;
}
.bg-teal {
	/*background-color: #FFFFE0 !important;*/
	background-color: #008080 !important;
}

.greenbar {
	background-color: #c0dcc0;
}

.app-title {
	font-family: "Monotype Corsiva", Times, serif;
}

.app-header {
	font-family: "Comic Sans MS", cursive, sans-serif;
	/*font-family: "Arial, Helvetica, sans-serif;*/
}

th a {
	color: #000000;
}

.bg-RoseWater {
background: #E55D87;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5FC3E4, #E55D87);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5FC3E4, #E55D87); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.bg-Frozen {
background: #403B4A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E7E9BB, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-Sunrise {
background: #FF512F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.rpttable {
    border: 1px solid #CCC;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    /*margin-bottom: 1rem;*/
    background-color: transparent;

}

/*.rpttable tr:nth-child(even) {background-color: #f2f2f2;}*/

.rpttable td {
    border: none;
}

.rpttable th {
	background-color: #008081;
	color: white;
}


