<?xml version="1.0" encoding="UTF-8" ?><ResourceDetails><ServerName>defaultLocal</ServerName><LauncherName></LauncherName><ExternalBrowser></ExternalBrowser><UseStartPage>true</UseStartPage><StartPage useextension="false" >C:\ColdFusion2018\cfusion\wwwroot\StipendWF\index.cfm</StartPage><Mappings></Mappings><VariableMappings></VariableMappings><DictionaryVersion>ColdFusion2018</DictionaryVersion><CFCMappings></CFCMappings></ResourceDetails>